body {
    background-color: rgb(3, 3, 27);
}

.welcom-div {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c30aef15b409b49b09b1ed3/081992bd-5275-4801-886b-50436211556b/PW_Intor_2023_0000s_0000_Layer+2.jpg?format=2500w");
    height: 650px;
    background-size: cover;
    position: relative;


}

.netflix-logo {
    height: 170px;
    padding-left: 30px;
    position: absolute;
    top: 20px;
    left: 15px;


}

.shadow-welcom-div {
    position: absolute;
    height: 650px;
    width: 100%;
    /* background-color: red; */
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.75) 120%,
            rgba(0, 0, 0, 0) 100%);
}

.welcom-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 85px;
    position: relative;
}

.lanuages-dropdown {
    position: absolute;
    background-color: transparent;
    color: white;
    height: 35px;
    width: 140px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 2px;
    margin-left: 700px;
}

.signin-button {

    height: 35px;
    width: 100px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: medium;
    margin-left: 1000px;
    border-style: none;
    border-radius: 10px;

}


.welcom-heading1 {
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.welcom-subheading {
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 220px;

}

.welcom-heading-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.enter-email-p {
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
}

.email-input {
    height: 50px;
    width: 300px;
    background: rgb(0, 0, 0, 0.5);
    border-color: rgb(255, 255, 255, 1);
    border-radius: 10px;
    position: absolute;
    color: white;
    padding-left: 10px;
    margin-right: 190px;

}

.email-input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: gray;
}

.email-button {

    height: 50px;
    width: 180px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-style: none;
    border-radius: 10px;
    margin-left: 330px;
    margin-top: 5px;

}

.email-div {

    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 350px;
}


.trending-movies {

    height: 2000px;
    background-color: rgb(3, 3, 27);

}

.trending-heading {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.movies-container {

    display: flex;
    justify-content: space-around;
    top: 0;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.movie-card {
    border-radius: 20px;
}

.movies {
    height: 300px;
    border-radius: 20px;
}

.reasons-to-join-text {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;

}

.reason-description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.reason-card {

    border-radius: 20px;
    width: 200px;
    height: 280px;
    background-color: rgb(38, 10, 54);
    padding: 15px;


}

.iconn {

    height: 130px;
    padding-left: 80px;
}